*{
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #8fc4ef;
    --secondary-color: #e5e3e3;
    --background-color: #e1e1e1;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.top-panel{
    width: 100%;
    height: 6dvh;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img{
    height: 5.5dvh;
}

.logo label{
    font-size: 4dvh;
    padding-left: 5px;
}

main{
    width: 100%;
    min-height: 95dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color)
}

.window-mail-address{
    margin: 40px 60px 40px 60px;
    background-color: var(--main-color);
    outline: var(--secondary-color) solid 2px;
    border-radius: 10px;
    min-height: 100px;
    text-align: center;
    min-width: 400px;
}

.big-text{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.mail-address-line{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-address{
    background-color: var(--secondary-color);
    border-radius: 30px;
    font-size: 18px;
    padding-top: 0.1%;
    height: 30px;
    min-width: 60%;
    text-align: left;
    padding-left: 5px;
}

#mail-text{
    margin: 2px;
}

#copy-button{
    margin-left: 5px;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    background-image: url("../images/copy.svg");
    background-size: cover;
    border: solid 0;
}

#down-window{
    background-color: var(--main-color);
    outline: var(--secondary-color) solid 2px;
    border-radius: 10px;
    height: 100%;
    width: 40%;
    min-height: 300px;
    margin: 5px 60px 20px 60px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #211f1f;
    border-radius: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.top-content{
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}