*{
    padding: 0;
    margin: 0;
}

.message{
    display: flex;
    margin-top: 5px;
    margin-bottom: 2px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.message-link{
    width: 99%;
    min-height: 30px;
}

.messages-content{
    font-size: 15px;
    padding: 10px;
}

.arrow {
    position: relative;
    width: 100px;
}

.arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ffffff;
}