<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>temp-mail</title>

	<link rel="icon" type="image/x-icon" href="../images/main.ico">

	<link rel="stylesheet" href="../static/all.css">
	<link rel="stylesheet" href="../static/main.css">
</head>
<body>
	<div class="top-panel">
		<div class="logo">
			<img alt="" src="../images/mail.svg">
			<label>temp mail</label>
		</div>
	</div>
	<main>
		<div class="window-mail-address">
			<div class="big-text">Ваша временная почта:</div>
			<div class="mail-address-line">
				<div class="mail-address">
					<label id="mail-text"></label>
				</div>
				<input type="button" id="copy-button">
			</div>
		</div>
		<div id="down-window">
			<div class="top">
				<div class="top-content">ОТПРАВИТЕЛЬ</div>
				<div class="top-content">ТЕМА</div>
				<div class="top-content">ПРОСМОТР</div>
			</div>
		</div>
	</main>
	<script type="text/javascript" src="../static/mail.js"></script>
	<script type="text/javascript" src="../static/main.js"></script>
</body>
</html>