<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>temp-mail</title>

	<link rel="icon" type="image/x-icon" href="../images/main.ico">

	<link rel="stylesheet" href="../static/view.css">
	<link rel="stylesheet" href="../static/all.css">
</head>
<body>
	<div class="top-panel">
		<div class="logo">
			<img alt="" src="../images/mail.svg">
			<label>temp mail</label>
		</div>
	</div>
	<main>
		<div class="window-mail-address">
			<div class="big-text">Ваша временная почта:</div>
			<div class="mail-address-line">
				<div class="mail-address">
					<label id="mail-text"></label>
				</div>
				<input type="button" id="copy-button">
			</div>
		</div>
		<div id="down-window">
			<div class="top">
				<a href="http://localhost:8080/" class="top-content"><-- ВЕРНУТЬСЯ НАЗАД</a>
			</div>
			<div class="message">
				<div class="block-message line">
					<div class="sender">
						<p>Отправитель:</p>
						<p id="sender-message">{{.Sender}}</p>
					</div>
					<div class="date">
						<p>Дата:</p>
						<p id="date-message">{{.Date}}</p>
					</div>
				</div>
				<div class="block-message line">
					<div class="subject">
						<p class="inline">Тема: </p>
						<p id="subject-message" class="inline">{{.Subject}}</p>
					</div>
				</div>
				<div class="block-message">
					<p id="content-message">{{.Content}}</p>
				</div>
			</div>
		</div>
	</main>
	<script type="text/javascript" src="../static/mail.js"></script>
</body>
</html>